
        <div class="form-group row">
            <div class="Paypal col-md-10">
                <input type="email" class="form-control" id="email" placeholder="email@example.com">
            </div>
        </div>
        <div class="form-group row">
            <div class="Paypal col-md-10">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>

        @* Payment plan scrollable agreement and checkbox that must be clicked *@
        <button type="submit" value="paypallForm" class="Paypal btn btn-default btn-lg">Submit</button>        
