@using OnlineShop.Dal.Models

@{
    ViewBag.Title = "Payment Failed";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>


<div class="row container">
    <h4>Unfortunately the payment was not successfull.</h4>
</div>




